.about-me{
position: relative;
margin-top: 5%;
margin-left: 1rem;
}

.about-me img{
  width: auto;
  max-width: 18rem;

}

.about-me-description h1{
  font-family: 'Roboto';
  font-size: .5rem;
  color: black;
}

.about-me-description a{
  font-family: 'Roboto';
  font-size: .25rem;
  color: black;
}

.about-me-description p{
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 0.25rem;
  color:black;
}

.about-me-description{
  position: absolute;
  background-color: white;
  z-index: 3;
  top:45%;
  width: auto;
  min-width: 50%;
  max-width: 70%;
  height: 124%;
  left: 20%;
  right: 30%;
  padding: 1.5rem;
}

@media (min-width:27rem) {
  .about-me-description{
    height: 70%;
    max-width: 15rem;
    margin-right: 4rem;
  }

  .about-me{
    margin: 1.25rem;
  }

  .about-me img{
    width: auto;
    max-width: 25rem;

  }

}

@media (min-width:30rem) {
  .about-me-description{
    height: 90%;
    max-width: 15rem;
    margin-right: 4rem;
  }

  .about-me{
    margin: 2rem;
  }
  .about-me img{
    width: auto;
    max-width: 30rem;

  }

  .about-me-description h1{
    font-family: 'Roboto';
    font-size: 1rem;
    color: black;
  }

  .about-me-description p{
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 0.75rem;
    color:black;
  }

}

@media (min-width:41rem) {

  .about-me{
    margin: 3rem;
  }

  .about-me img{
    width: auto;
    max-width: 35rem;

  }

  .about-me-description{
    height: 60%;
    max-width: 15rem;
    top: 25%;
    left: 35%;
    margin-right: 4rem;
  }

}
