

.projects{
  display: flex;
}

.landing-projects{
  display:flex;
  justify-content: space-around;
}

@media (max-width:39rem) {
  .project-two-image-flex-item img{
    width: auto;
    max-height: 20rem;
    max-width: 22.5rem;
  }

  .project-summary-two{
    max-width: 17rem;
    height: 50%;
  }

  .project-summary-two p{
    font-size: .65rem;
  }

}

@media (min-width:20rem) {

h1.nav-logo{
  font-size: 3rem;
  transition: .5s;
}

.nav-flex{
/* display: flex;
flex-direction: column; */
}


}

@media (min-width:30rem) {

h1.nav-logo{
  font-size: 4rem;
    transition: .5s;
}

.nav-items{
  max-width: 28rem;

  flex-direction: row;
  justify-content: space-between;

}


}
