

.projects{
  display: flex;
}

.landing-projects{
  display:flex;
  justify-content: space-around;
}


@media (min-width:20rem) {

h1.nav-logo{
  font-size: 3rem;
  transition: .5s;
}


}

@media (min-width:30rem) {

h1.nav-logo{
  font-size: 4rem;
    transition: .5s;
}

.nav-items{
  max-width: 28rem;

  flex-direction: row;
  justify-content: space-between;

}


}
