.project-process-flex-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 77%;
  flex-direction: row;


}

.process-flex-item{
  width: 25%;
}

.process{
  max-width: 100%;
}


.see-next h3{
color: white;
text-align: right;
background: none;
font-size: 0.45rem;
padding-right: 2rem;
top: 5%;

}

@media (min-width:25rem) {

  .see-next h3{
    font-size: 1rem;
  }
}


.project-one-description-flex-item{

  margin-top: 5%;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-image{
  width: auto;
  max-width: 14rem;
}

@media (min-width:52rem) {
  .project-image{
    width: auto;
    max-width: 25rem;
  }

}
