.see-next h3{
color: white;
margin-left: 70%;
top: 5%;

}

.project-one-description-flex-item{

  margin-top: 10%;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-one-description-flex-item img{
  width: auto;
  max-width: 24rem;
}

@media (min-width:52rem) {
  .project-one-description-flex-item img{
    width: auto;
    max-width: 25rem;
  }

}
