.project-process-flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 10rem;
  flex-direction: row;
  padding-top: 1.5rem;
}

.process-flex-item{
  width: 25%;
}

.process{
  max-width: 100%;

}

@media (min-width:28.5rem) {
  .project-process-flex-container{
    flex-direction: column;
    width: 10%;
    max-height: 33rem;
    padding-top: 2.7rem;
    align-items: center;
  }

  .process{
    min-width: 5rem;

  }

  .project-image{
    max-height: 35rem;
  }
}

@media (min-width:42rem) {
.project-process-flex-container{
  min-width:22rem;
  margin-right: 4.75rem;


}

.process{
  margin: 2rem;
  min-width: 7rem;
}

}

/* @media (min-width:43rem) {
.project-process-flex-container{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 18rem;
}

.process{
  min-width: 7rem;
}
} */


/* .process-flex-item{
  width: 25%;
}

.process{
  max-width: 100%;
} */


.see-next h3{
color: white;
text-align: right;
background: none;
font-size: 0.45rem;
padding-right: 2rem;
top: 5%;

}

@media (min-width:25rem) {

  .see-next h3{
    font-size: 1rem;
  }
}


.project-one-description-flex-item{

  margin-top: 5%;
  display: flex;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-image{
  width: auto;
  max-height: 23rem;
}

@media (min-width:52rem) {
  .project-image{
    width: auto;
    max-width: 25rem;
  }

}
