.see-next h3{
color: white;
margin-left: 70%;
top: 5%;

}

.project-one-description-flex-item{

  margin-top: 10%;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-one-description-flex-item img{
  width:auto;
  max-width: 24rem;
}

@media (min-width:31rem) {
  .project-one-description-flex-item img{
    width:auto;
    max-width: 30rem;
  }
}

@media (min-width:42rem) {
  .project-one-description-flex-item img{
    width:auto;
    max-width: 40rem;
  }
}




/* @media (max-width:38rem) {
  .project-one-description-flex-item img{
    max-height: 10rem;
  }

}

.project-one-description-flex-item img{
  width: auto;
  max-height: 30rem;
} */

/* .project-one-image-flex-item{
  margin-top: 20%;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:4rem;


}

.project-one-image-flex-item img{
  width: auto;
  max-width:10rem;
} */
