.see-next h3{
color: white;
text-align: right;
background-color: none;
font-size: 0.45rem;
padding-right: 2rem;
top: 5%;

}

@media (min-width:25rem) {

  .see-next h3{
    font-size: 1rem;
  }
}
.project-one-description-flex-item{

  margin-top: 5%;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-one-description-flex-item img{
  width:auto;
  max-width: 24rem;
}

@media (min-width:31rem) {
  .project-one-description-flex-item img{
    width:auto;
    max-width: 30rem;
  }
}

@media (min-width:42rem) {
  .project-one-description-flex-item img{
    width:auto;
    max-width: 40rem;
  }
}
