
.project-process-flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 10rem;
  max-width: 23rem;
  flex-direction: row;
  padding-top: 1.5rem;
}

.process-flex-item{
  width: 25%;
}

.process-two{
  max-width: 90%;
  /* max-height: 13rem; */


}

@media (min-width:48rem) {
  .project-process-flex-container{
    flex-direction: column;
    width: 30%;
    max-height: 23rem;
    margin-right: 2rem;
    padding-top: 3.75rem;
    align-items: center;
    justify-content: space-between;

  }

  .process-two{
    min-width: 7rem;
    margin-bottom: 3rem;



  }

  .project-image{
    min-height: 20rem;
  }
}



.see-next h3{
color: white;
text-align: right;
background: none;
font-size: 0.45rem;
padding-right: 2rem;
top: 5%;

}

@media (min-width:25rem) {

  .see-next h3{
    font-size: 1rem;
  }
}


.project-one-description-flex-item{

  margin-top: 5%;
  display: flex;
  position: relative;
  z-index: 2;
  overflow: visible;
  margin-right:0rem;
  margin-left:0rem;

}

.project-image{
  width: auto;
  max-height: 18rem;
}

@media (min-width:52rem) {
  .project-image{
    width: auto;
    /* max-height: 25rem; */
  }

}
