.project-content{
  background-color: white;
  padding-top: 1rem;
  width: auto;
  height: 29rem;
  max-width: 25rem;
  max-height: 30rem;
  padding-left: 1rem;
  padding-right:1rem;
  overflow: scroll;

}

.project-content h1{
  font-family: 'Roboto';
  font-size: 1rem;
}

.project-content h2{
  font-family: 'Roboto';
  font-size: 0.75rem;
}

.project-content p{
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 0.75rem;
}



.project-one-image-flex-item img{
  width: auto;
  max-height: 30rem;
}

.project-two-image-flex-item img{
  width: auto;
  max-height: 30rem;
}



.project-header-class{
  position: relative;
  align-items: center;


}

.project-nav-menu-flex{
  display: flex;
  padding-top: 2.5%;

}

.project-nav-menu-item a{
  font-size: 0.45rem;
  color: white;
  padding: .25rem;
}

@media (min-width:25rem) {

  .project-nav-menu-item a{
    font-size: 1rem;
  }
}






.home-image{
  display: flex;
  justify-content: center;
  z-index: 3;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;

}

.home-image img{
  width:auto;

  max-height: 35rem;
}



.name{
  justify-content: space-around;
  top:50%;
  z-index: 7;
  position: absolute;
  align-items: center;
}

.name h1{
  font-family: 'Fjalla One';
}

.name a{
  justify-content: space-around;
  top:230%;
  left: 13%;
  z-index: 7;
  position: absolute;
  align-items: center;
  font-size: 0.8rem;
  font-family: 'Open Sans';
  font-weight:200;
  text-decoration: none;
  color: black;
}

@media (min-width:42rem) {

  .name a{
    top: 185%;
  }
}

.name h2{
  justify-content: space-around;
  top:55%;
  z-index: 7;
  position: absolute;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: .9rem;
  min-width: 5rem;
}






.nav-menu-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top:49%;

  background-color: white;
  min-width: 15rem;
  z-index: 5;
  position: absolute;
  align-items: center;
  width: 50%;
  height: 33%;
  padding-bottom: 2rem;
  padding-left:2rem;
  padding-right:2rem;


}

.nav-menu-item{

  padding-top: .5rem;

}

@media (min-width:42rem) {

.nav-menu-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  top:50%;

  background-color: white;
  min-width: 15rem;
  z-index: 5;
  position: absolute;
  align-items: center;
  width: 50%;
  height: 23%;
  padding-left:2rem;
  padding-right:2rem;
  padding-top: 1.5rem;

}

.nav-menu-item{
  padding-top: 5rem;

}
}



.nav-menu-item a{
  font-family: 'Roboto';

}


nav a{
  font-family: "Overpass";
  font-weight: 200;
  text-decoration: none;
  color: black;
  right:0;


}

nav a:hover, nav a:focus{
  color: #ffc700;

}

body{
  font-family: "Roboto";
  font-weight: 200;
  background-color: black;
}

p{
  font-family: "Roboto";
  font-weight: 100;
  max-width: 56rem;

}

.in-text-link{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;

}

.in-text-link:hover, .in-text-link:focus{
  text-decoration: none;
  color: rgb(255, 199, 0);
}

.in-text-link-two{
  text-decoration: none;
  padding: 1rem;
  padding-left: 0rem;
  color: black;
  font-family: 'Open Sans';
  font-weight: 400;

}

.in-text-link-two:hover, .in-text-link-two:focus{
  text-decoration: none;
  color: grey;
}

ol{
  font-family: "Roboto";
  font-weight: 200;

}

ul{
  font-family: "Roboto";
  font-weight: 200;

}

code{
  font-family: "Roboto";
  font-weight: 200;

}


h1{
  font-family: "Catamaran";
  font-weight: 400;
  font-size: 2rem;

}

h2{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5rem;

}

h3{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;

}

h4{
  font-family: "Roboto";
  font-weight: 100;
  font-size: .9rem;

}

section{
  background-color: white;
  padding: 1rem;
}

footer{

  z-index: 13;
  background-color: black;
  top: 85%;
  height: 15%;
  min-width: 100%;



}

footer p{
  color: white;
  font-family: "Open Sans";
  font-weight: 100;
  text-align: center;
  padding-top: 1.5rem;
  padding-left: 80%;
}
